#Contact {
    height: 15vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c62368;
}

.cv_wrapper {
    font-size: 2rem;
    width: 33%;
}

.cv_wrapper a {
    color: #001220;
}

#Contact a:hover {
    border: none;
}

.footer_links {
    width: 33%;
    display: flex;
    justify-content: space-evenly;
}

.footer_links a {
    font-size: 1.3rem;
    color: #001220;
    font-family: var(--accent_font);
}

.footer_links a:hover {
    border-bottom: 1px solid #001220;
}

.footer_icon_wrapper {
    width: 33%;
}

.footer_icon_wrapper a {
    font-size: 2rem;
    color: #001220;
    margin: 0 25px;
}

.footer_icon_wrapper a i:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 414px) {
    .footer_links a:nth-child(2),
    .footer_links a:nth-child(3) {
        display: none;
    }

    .footer_icon_wrapper a {
        margin: 0 10px;
    }
}   
