#Main {
    height: 100vh;
    width: 100%;
}
/* 
credit/For the background image = Nubelson Fernandes
https://unsplash.com/photos/-Xqckh_XVU4
 */
.main_background_img {
    height: 100%;
    width: 100%;
    background-image: url('../photos/background.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.main_links {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10% auto 0;
}

.main_links a {
    font-family: var(--accent_font);
    color: var(--primary_color);
    font-size: 1.5rem;
}

.main_text {
    display: flex;
    flex-direction: column;
    margin: 50px auto 50vh;
    color: var(--primary_color);
}

.main_text h1 {
    font-size: 4rem;
    font-family: var(--accent_font);

}

.main_text h2 {
    font-size: 2rem;
    font-family: var(--accent_font);
}


@media screen and (max-width: 414px) {
    .main_links {
        width: 75%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin: 10% auto 0;
    }
    
    .main_links a {
        width: 40%;
        font-family: var(--accent_font);
        color: var(--primary_color);
        font-size: 1.5rem;
        margin: 10px 5px;
    }
}