#nav1 {
  height: 100vh;
  width: 100%;
}

.nav1_background_img {
  height: 100%;
  width: 100%;
  background-image: url('../photos/background.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.user_info {
  display: flex;
  align-items: center;
}

.main_links {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10% auto 0;
}

.main_text {
  margin: 50px auto;
  color: var(--primary_color);
}
