#nav2 {
  width: 100%;
  background-color: var(--secondary_color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.user_info {
  display: flex;
  align-items: center;
}

.user_info a {
  font-family: var(--accent_font);
  color: var(--primary_color);
  font-size: 1.5rem;
  margin-right: 20px;
}

.user_info input {
  margin-right: 10px;
}

.nav_links button {
  background: none;
  border: none;
  font-family: var(--main_font);
  color: var(--primary_color);
  font-size: 1.2rem;
  cursor: pointer;
  padding: 5px 10px;
  transition: border-bottom 0.3s ease;
}

.nav_links button:hover {
  border-bottom: 2px solid var(--primary_color);
}

