.project {
    width: 300px;
    height: 300px;
    justify-self: center;
    align-self: center;
    margin-bottom: 50px;
    cursor: pointer;
    box-shadow: 10px 10px 20px var(--secondary_color);
    border-radius: 10px;
}

.project:hover {
    opacity: .5;
}

.project .non_img_title,
.project .description,
.project .contributions,
.project .exit_icon,
.project  .icon_wrap {
    display: none;
}

.project .background_img {
    background-image: url('https://picsum.photos/200/300?green');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 3px solid black;
}

.project .img_title {
    font-size: 1.5rem;
    color: var(--primary_color);
    background: rgb(0, 0, 0, .8);
    border-radius: 50px;
    padding: 5px 10px;
}

.active_project {
    width: 80vw;
    height: 80vh;
    position: absolute;
    right: 10vw;
    z-index: 100;
    background: rgb(0, 0, 0, .9);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .2s ease-in;
}

.active_project .non_img_title,
.active_project .description,
.active_project .contributions,
.active_project .exit_icon {
    display: initial;
    color: var(--primary_color);
}

.active_project .icon_wrap a{
    margin: 0 50px;
    font-size: 4rem;
    color: var(--primary_color);
}

.active_project .icon_wrap a:hover {
    border-bottom: none;
    text-decoration: none;
}

.active_project .icon_wrap i:hover {
    transform: scale(1.1);
}

.active_project .img_title {
    display: none;
}

.active_project .exit_icon {
    color: var(--primary_color);
    font-size: 1.3rem;
    cursor: pointer;
    padding: 10px;
    border: 2px solid var(--primary_color);
    border-radius: 50%;
    margin: 2vh 10px 0 75vw;
}

.active_project .exit_icon:hover {
    color: var(--secondary_color);
    background: var(--primary_color);
}

.active_project .non_img_title {
    font-size: 4rem;
    font-family: var(--accent_font);
    color: var(--primary_color);
    border: 1px solid var(--primary_color);
    padding: 5px 20px;
    margin: -10px auto 0;
}

.active_project .proj_texts {
    display: flex;
    align-items: center;
    height: 80%;
    font-size: 1.2rem;
}

.description {
    color: var(--primary_color);
    border-left: 1px solid var(--primary_color);
    border-right: 1px solid var(--primary_color);
    box-shadow:  5px 5px 15px gray;
    font-family: var(--main_font);
    width: 40%;
    height: 60%;
    margin: auto;
    overflow: scroll;
}

.contributions {
    font-family: var(--main_font);
    width: 40%;
    height: 60%;
    margin: auto;
    overflow: scroll;
}

.contribution {
    margin: 30px;
}


@media screen and (max-width: 800px) {
    .active_project {
        width: 90vw;
        min-height: 100vh;
        right: 5vw;
        background: rgb(0, 0, 0);
    }
    .active_project .non_img_title {
        font-size: 2rem;
    }
    .active_project .icon_wrap a{
        margin: 0 10px;
        font-size: 2rem;
        color: var(--primary_color);
    }
    .active_project .proj_texts {
        flex-direction: column;
        width: 80%;
    }
    .description, .contributions {
        width: 100%;
        font-size: 1rem;
        line-height: 1.5;

    }
    .description {
        border-left: 1px solid var(--primary_color);
        border-right: 1px solid var(--primary_color);
        border-bottom: 1px solid var(--primary_color);
        box-shadow:  none;
        min-height: 50%;
        padding: 0 10px;
        margin: 30px auto;
        overflow: scroll;
    }
    .contributions {
        border: 1px solid var(--primary_color);
        height: auto;
        margin: auto;
        overflow: scroll; 
    }
}

@media screen and (max-width: 850px) {
    .project {
        width: 250px;
        height: 250px;
    }
    .project .img_title {
        font-size: 1.2rem;
        padding: 5px 10px;
    }
}

@media screen and (max-width: 700px) {
    .project {
        width: 200px;
        height: 200px;
    }
    .project .img_title {
        font-size: 1rem;
        padding: 5px 10px;
    }
}

@media screen and (max-width: 570px) {
    .project {
        width: 180px;
        height: 180px;
    }
    .project .img_title {
        font-size: 1rem;
        padding: 5px 10px;
    }
}